include *.rst
include *.md
include *.in
include LICENSE
include iterreg/__init__.py
include Makefile
include requirements.txt

recursive-include iterreg *.py

### Exclude

exclude .coveragerc
exclude *.yml
recursive-exclude iterreg *.pyc

